<div class="container-fluid">
    <h1>Password Generator</h1>

    <div>
        <label for="">Enter length</label>
        <input type="number" (input)="onChangeLength($event.target.value)">
    </div>

    <div>
        <label for="">Use letters</label>
        <input type="checkbox" (change)="onChangeUseLetters()">
    </div>

    <div>
        <label for="">Use numbers</label>
        <input type="checkbox" (change)="onChangeUseNumbers()">
    </div>

    <div>
        <label for="">Use symbols</label>
        <input type="checkbox" (change)="onChangeUseSymbols()">
    </div>

    <div>
        <button class="btn btn-primary" (click)="onGenerate()"
            [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))">Generate</button>
    </div>


    <div>
        <label for="">Your password</label>
        <input [value]="password" />
    </div>
</div>